altgraph==0.17.3
bleach==5.0.1
certifi==2022.9.14
cffi==1.15.1
charset-normalizer==2.1.1
commonmark==0.9.1
cryptography==38.0.1
distlib==0.3.6
docutils==0.19
filelock==3.8.0
idna==3.4
importlib-metadata==4.12.0
jaraco.classes==3.2.2
keyring==23.9.3
macholib==1.16.2
more-itertools==8.14.0
pkginfo==1.8.3
platformdirs==2.5.2
pycparser==2.21
Pygments==2.13.0
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
readme-renderer==37.1
requests==2.28.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-110/six-1.15.0-py2.py3-none-any.whl
twine==4.0.1
typing_extensions==4.3.0
urllib3==1.26.12
virtualenv==20.16.5
webencodings==0.5.1
zipp==3.8.1
